In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import DB_USERNAME, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

# import warnings
# warnings.filterwarnings("ignore")

In [2]:
# Create a connection string with the postgreSQL info
database_access = f"postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

In [3]:
# Establish a connection to the PostgreSQL database 
engine = create_engine(database_access)

In [4]:
# Write a SQL query to select data from the existing view in PostgreSQL 
query = 'SELECT * FROM "Wines"'

In [5]:
# Use Pandas to read the data from the SQL query and convert into a DataFrame 
wines_df = pd.read_sql_query(query, engine)

In [6]:
# Display the Dataframe
wines_df.head()

,id,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol_wine,quality_categorisation
0,4264,White,5.8,0.20,0.16,1.4,0.042,44.0,99.0,0.98912,3.23,0.37,12.2,1
1,841,Red,6.6,0.66,0.00,3.0,0.115,21.0,31.0,0.99629,3.45,0.63,10.3,0
2,2261,White,6.5,0.36,0.31,4.1,0.061,20.0,134.0,0.99475,3.18,0.45,9.0,1
3,944,Red,8.3,0.30,0.49,3.8,0.090,11.0,24.0,0.99498,3.27,0.64,12.1,1
4,4016,White,7.2,0.40,0.24,8.5,0.055,45.0,151.0,0.99626,3.20,0.52,9.2,0

In [10]:
# Clean the dataframe, removing columns that will not be used in the ML model
cleaned_wines_df = wines_df.drop(columns=['id','type'])

# Display the clean dataframe
cleaned_wines_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol_wine,quality_categorisation
0,5.8,0.20,0.16,1.4,0.042,44.0,99.0,0.98912,3.23,0.37,12.2,1
1,6.6,0.66,0.00,3.0,0.115,21.0,31.0,0.99629,3.45,0.63,10.3,0
2,6.5,0.36,0.31,4.1,0.061,20.0,134.0,0.99475,3.18,0.45,9.0,1
3,8.3,0.30,0.49,3.8,0.090,11.0,24.0,0.99498,3.27,0.64,12.1,1
4,7.2,0.40,0.24,8.5,0.055,45.0,151.0,0.99626,3.20,0.52,9.2,0